@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    font-family: Roboto Slab, sans-serif;
    font-weight: 400;
    color: #222D44;
    background-color: #f7f0ef;
}

  
h1, h2 {
    font-family: "Roboto Slab", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #222D44;
}

nav { 
    width: 100%;
    background-color: #f7f0ef;
    overflow:auto;
    }

    ul {
        padding:0;
        margin: 0 0 0 150px;
        list-style: none;
        margin-right: 35px;
    }

    li {
        float: right;
      
    }

    .logo img {
        position: absolute;
        margin-top: 0px;
        margin-left: 10px;
            }

    nav a{
        width: 120px;
        padding: 10px 10px;
        display: inline-block;
        text-decoration: none;
        font-family:Roboto Slab;
        color:#222D44;
        text-align: center;
        text-transform: uppercase; 
        margin-top:10px;
        line-height: 10px;
        font-size: 100%;
        letter-spacing: 2px;
        margin-right: 30px;     
           }


           
    .active {
        border-bottom: 0.5px solid #222D44;
             }

           nav a:hover {
                color:#222D44;
                background-color: #F4C8C8;
                transition: 1s ease;
                letter-spacing:0.5px;
            }
                     
               .hero-section {
                height: 600px;
                width: 100%;
                background: url('../images/hero-image.jpg') no-repeat center center;
                background-color: #222D44;
                margin-top:30px; 
                animation-name: hero-zoom;
                animation-duration: 5s;
                animation-fill-mode: forwards;
            }

            @keyframes hero-zoom {
                from {
                transform: scale(1.0);
                }
                to {
                    transform: scale(1.1);
                }
            }
            
            .section-about {
                height:600px;   
                background-color: #f7f0ef;
                padding-top: 0px;
                margin-top: 0px;
                margin: 20px 0;
            }

            .section-about .container-about { 
                width: 80%;
                display: block;
                margin: 0px auto;
                padding:80px 0px;
               }

            .container-about .title-about {
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
           }

           .container-about .title-about h1 {
               text-transform: uppercase;
               font-size: 200%;
               color:#b86b77;  

           }
           .container-about .title-about h1::after {
               content: "";
               height: 5px;
               width: 100px;
               background-color: #f7f0ef;
               border-radius: 25px;
               display: block;
               margin:auto;
                          }

.text-about {
    float: left;
    width: 500px;
    text-align: left;
    margin-left: 50px;
}

.image-about {
    float: right;
    width: 30%;
    margin-right: 40px;
    }

.image-about img {
    width: 80%;
    height: auto;
}

.content-about .text-about h3 { 
    margin-top: 25px;
    color:#222D44;
    font-size: 17px;
}

.content-about .text-about p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color:#222D44;
}

.content-about .text-about .button {
    margin-top: 20%;
    }

.content-about .text-about .button a {
    text-decoration: none;
    padding: 8px 25px; 
    background-color:#b86b77;
    border-radius: 40px;
    color:#f7f0ef;
    font-size: 18px;
    letter-spacing:1.5px;
}

.content-about .text-about .button a:hover {
    color:f7f0ef;
    background-color: #F4C8C8;
    transition: 1s ease;
}

@media screen {
    .section-about .container-about {
        width: 80%;
        display: block;
        margin:auto;
    }
    }
    
.content-about {
    float:none;
    width: 100%;
    display: block;
    margin:auto;
}

.services {
    height: 600px;
    background-color:#222D44;
    box-sizing: border-box;
    padding-top: 20px;
}

#left-services {
    padding-top: 30px;
    width: 33%;
    float: left;
   }

#right-services {
    padding-top: 30px;
    width: 33%;
    float: right;
   }

#center-services {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;  
       }

hr {
    border-top: 1px solid #f7f0ef;;
    width: auto;
    margin: 5px 0;
}

.left-services-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    
}

.right-services-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-services-heading h2 {
    text-align: left;
    color:#f7f0ef;
    font-size: 100%;
   
}

.left-services-heading p {
    text-align: left;
    color:#f7f0ef;
}

.right-services-heading h2 {
    text-align: right;
    color:#f7f0ef;
    font-size: 100%;
}

.right-services-heading p {
    text-align: right;
    color:#f7f0ef;
    
}

#welcome {
    text-align: center;
    margin: 20px 0;
    margin-top: 20px;
    font-size: 200%;
    color:#f7f0ef;
}

 .button {
    margin-top: 20%;
}

 .button a {
    text-decoration: none;
    padding: 8px 25px; 
    background-color:#b86b77;
    border-radius: 40px;
    color:#f7f0ef;
    font-size: 18px;
    letter-spacing:1.5px;

}

 .button a:hover {
    color:#f7f0ef;
    background-color: #F4C8C8;
    transition: 1s ease;
}

.container-form {
    background-color: #f7f0ef;
    height: 700px;
    font-family: Roboto Slab, sans-serif;
    font-size: 1em;
    color:#f7f0ef;
    position: relative; 
    margin-top: 2%;
    }

.element-form {
position: absolute;
height: 750px;
margin-top: 2%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #F4C8C8;
border-radius: 10px;
}

    #formtitle {
        font-family:  Roboto Slab, sans-serif;
        color:#222D44;
        margin-left: 15%;
    }

#formsubtitle {
    font-family:  Roboto Slab, sans-serif;
    color:#222D44;
    margin-left: 25%;
}

.formgroup {
border: 0;

}

input, select, textarea {
    font-family: Roboto Slab, sans-serif;
    font-size: 1em;
    color: #222D44;
    border-radius: 5px;
}

.formbutton {
    font-family: Roboto Slab, sans-serif;
    font-size: 1em;
    color: #222D44;
    border-radius: 5px;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

    .field {
    margin-bottom: 1em;
    }

    .field label { 
        margin-bottom: 0.2em;
        color:#222D44;
        display: inline;
    }

    fieldset .field .formgroup {
        float: left;
        margin-right: 1em;
    }

    .field input[type="text"], .field input[type="email"], .field select, .field textarea {
        padding: 0.2em; 
        border: 1px solid #222D44;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2); 
        display:block;
    }

    .formbutton {
        text-decoration: none;
        padding: 8px 25px; 
        background-color:#b86b77;
        border-radius: 40px;
        color:#f7f0ef;
        font-size: 18px;
        letter-spacing:1.5px;
    }

    .formbutton:hover {
        color:#f7f0ef;
        background-color: #F4C8C8;
        transition: 1s ease;
    }

    .formbutton, select{
        cursor: pointer;
    }

   



.footer-container {
    height: 300px;
    background-color: #222D44;
}

.footer-content {
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.footer-content h2 { 
text-align: center;
color:#f7f0ef;
font-size: 110%;
text-decoration:none;
}

.footer-content h3 { 
text-align: center;
color:#F4C8C8;
font-size: 100%;
justify-content: center;
}

.footer-content h4 { 
text-align: center;
color:#F4C8C8;
font-size: 100%;
justify-content: center;
}

.social-links ul { 
   padding: 0;
   margin: 0 0 0 150px; 
   list-style: none;
   margin-right: 35px; 
   display: flex;
  justify-content: center
}

.social-links li {
    color: #F4C8C8;
    align-items: center;
    size: 160%;
      }

   
    



